4장 연습문제 풀이

In [ ]:
#4.1

def my_greet():
  print('환영합니다.')

my_greet()
my_greet()

환영합니다.
환영합니다.

In [ ]:
#4.2

def square(n):
  return n*n

print('3의 제곱은:',square(3))
print('4의 제곱은:',square(4))

3의 제곱은: 9
4의 제곱은: 16

In [ ]:
#4.3

def max2(m,n):
  if m>n:
    return m
  else:
    return n

def min2(m,n):
  if m<n:
    return m
  else:
    return n

print('100과 200 중 큰 수는 :',max2(100,200))
print('100과 200 중 작은 수는 :',min2(100,200))

100과 200 중 큰 수는 : 200
100과 200 중 작은 수는 : 100

In [ ]:
#4.4

def mile_kilo():
  for i in range(1,6):
    print('{} 마일={} 킬로미터'.format(i,i*1.61))

mile_kilo()

1 마일=1.61 킬로미터
2 마일=3.22 킬로미터
3 마일=4.83 킬로미터
4 마일=6.44 킬로미터
5 마일=8.05 킬로미터

In [ ]:
#4.5

def cm_inch():
  for i in range(1,6):
    print('{} 인치={} 센티미터'.format(i,i*2.54))

cm_inch()

1 인치=2.54 센티미터
2 인치=5.08 센티미터
3 인치=7.62 센티미터
4 인치=10.16 센티미터
5 인치=12.7 센티미터

In [ ]:
#4.6

def cel_fah():
  for i in range(1,6):
    print('섭씨 {} 도=화씨 {} 도'.format(i*10,i*18+32))

cel_fah()

섭씨 10 도=화씨 50 도
섭씨 20 도=화씨 68 도
섭씨 30 도=화씨 86 도
섭씨 40 도=화씨 104 도
섭씨 50 도=화씨 122 도

In [ ]:
#4.7
a,b,c=input('세 수를 입력하시오 :').split()
a,b,c=int(a),int(b),int(c)

def mean3(a,b,c):
  return ((a+b+c)/3)

def max3(a,b,c):
  return max(a,b,c)

def min3(a,b,c):
  return min(a,b,c)

print('{},{},{}의 평균값은 {}'.format(a,b,c,mean3(a,b,c)))
print('{},{},{}의 최댓값은 {}'.format(a,b,c,max3(a,b,c)))
print('{},{},{}의 최솟값은 {}'.format(a,b,c,min3(a,b,c)))

세 수를 입력하시오 :10 30 20
10,30,20의 평균값은 20.0
10,30,20의 최댓값은 30
10,30,20의 최솟값은 10

In [ ]:
#4.8

a,b,c,d,e,f=input('여섯 개의 수를 입력하시오 :').split()
a,b,c,d,e,f=int(a),int(b),int(c),int(d),int(e),int(f)

def mean6(a,b,c,d,e,f):
  return ((a+b+c+d+e+f)/6)

def max6(a,b,c,d,e,f):
  return max(a,b,c,d,e,f)

def min6(a,b,c,d,e,f):
  return min(a,b,c,d,e,f)

print('평균값은 {}'.format(mean6(a,b,c,d,e,f)))
print('최댓값은 {}'.format(max6(a,b,c,d,e,f)))
print('최솟값은 {}'.format(min6(a,b,c,d,e,f)))

여섯 개의 수를 입력하시오 :100 20 30 45 260 370
평균값은 137.5
최댓값은 370
최솟값은 20

In [ ]:
#4.9

nums=[int(x) for x in input('정수를 여러 개 입력하시오: ').split()]

def mean_of_n(nums):
  sum=0
  for n in nums:
    sum+=n
  return round((sum/len(nums)),1)

def max_of_n(nums):
  return max(nums)

def min_of_n(nums):
  return min(nums)

print('평균값은 {}'.format(mean_of_n(nums)))
print('최댓값은 {}'.format(max_of_n(nums)))
print('최솟값은 {}'.format(min_of_n(nums)))

정수를 여러 개 입력하시오: 3 45 32 5 7 8 4 44 5 90 17
평균값은 23.6
최댓값은 90
최솟값은 3

In [ ]:
#4.10

x1=int(input('x1 좌표를 입력하시오: '))
y1=int(input('y1 좌표를 입력하시오: '))
x2=int(input('x2 좌표를 입력하시오: '))
y2=int(input('y2 좌표를 입력하시오: '))

def distance(x1,y1,x2,y2):
  length=((x2-x1)**2+(y2-y1)**2)**0.5
  return length

print('두 점의 거리: {}'.format(distance(x1,y1,x2,y2)))

x1 좌표를 입력하시오: 0
y1 좌표를 입력하시오: 0
x2 좌표를 입력하시오: 3
y2 좌표를 입력하시오: 4
두 점의 거리: 5.0

In [ ]:
#4.11

x1=int(input('x1 좌표를 입력하시오: '))
y1=int(input('y1 좌표를 입력하시오: '))
x2=int(input('x2 좌표를 입력하시오: '))
y2=int(input('y2 좌표를 입력하시오: '))

def area(x1,y1,x2,y2):
  area1=((x2-x1)*(y2-y1))/2
  return area1

print('직각삼각형의 면적은: {}'.format(area(x1,y1,x2,y2)))

x1 좌표를 입력하시오: 0
y1 좌표를 입력하시오: 0
x2 좌표를 입력하시오: 3
y2 좌표를 입력하시오: 4
직각삼각형의 면적은: 6.0

In [ ]:
#4.12

width=int(input('밑변을 입력하시오: '))
height=int(input('높이를 입력하시오: '))

def cal_area(width,height):
  area=width*height/2
  return area

print('삼각형의 면적: {}'.format(cal_area(width,height)))

밑변을 입력하시오: 20
높이를 입력하시오: 15
삼각형의 면적: 150.0

In [ ]:
#4.13

In [ ]:
#(1)
s=int(input('모서리의 길이: '))

def cal_volume(s):
  volume=s**3
  return volume

print('모서리의 길이가 {}인 정육면체의 부피: {}'.format(s,cal_volume(s)))

모서리의 길이: 12
모서리의 길이가 12인 정육면체의 부피: 1728

In [ ]:
#(2)
s=int(input('모서리의 길이: '))

def cal_volume(s):
  volume=s**3
  return volume

print('모서리의 길이가 {}인 정육면체의 부피: {}'.format(s,cal_volume(s)))

모서리의 길이: 20
모서리의 길이가 20인 정육면체의 부피: 8000

In [ ]:
#(3)
l,w,h=map(int,input('가로,세로,높이를 각각 입력하라: ').split())
def cal_volume2(l,w,h):
  volume2=l*w*h
  return volume2

print('가로,세로,높이가 각각 {},{},{}인 직육면체 부피: {}'.format(l,w,h,cal_volume2(l,w,h)))

가로,세로,높이를 각각 입력하라: 3 5 6
가로,세로,높이가 각각 3,5,6인 직육면체 부피: 90

In [ ]:
#(4)
r,h=map(int,input('반지름,높이를 각각 입력하라: ').split())
def cal_volume3(r,h):
  volume3=3.14*(r**2)*h/3
  return volume3

print('반지름,높이가 각각 {},{}인 원뿔의 부피: {}'.format(r,h,cal_volume3(r,h)))

반지름,높이를 각각 입력하라: 20 10
반지름,높이가 각각 20,10인 원뿔의 부피: 4186.666666666667

In [ ]:
#(5)
r=int(input('반지름의 길이를 입력하라: '))
def cal_volume4(r):
  volume4=3.14*(r**3)*4/3
  return volume4

print('반지름이 {}인 구의 부피: {}'.format(r,cal_volume4(r)))

반지름의 길이를 입력하라: 15
반지름이 15인 구의 부피: 14130.0

In [ ]:
#(6)
r,h=map(int,input('반지름,높이를 각각 입력하라: ').split())
def cal_volume5(r,h):
  volume5=3.14*(r**2)*h
  return volume5

print('반지름,높이가 각각 {},{}인 원기둥의 부피: {}'.format(r,h,cal_volume5(r,h)))

반지름,높이를 각각 입력하라: 20 10
반지름,높이가 각각 20,10인 원기둥의 부피: 12560.0

In [ ]:
#4.14

num1,num2,num3=map(int,input('세 수를 입력하세요:').split())
a=list()
def sort3(num1,num2,num3):
  a.append(num1)
  a.append(num2)
  a.append(num3)
  a.sort()
  return a[0],a[1],a[2]

print('정렬된 리스트는 다음과 같습니다:{}'.format(sort3(num1,num2,num3)))

세 수를 입력하세요:3 2 5
정렬된 리스트는 다음과 같습니다:(2, 3, 5)

In [ ]:
#4.15

def my_sort(*nums):
  a=list(nums)
  a.sort()
  return a
  
print(my_sort(45,3,4,56,5))
print(my_sort(9,8,7,6,5,4,3))

[3, 4, 5, 45, 56]
[3, 4, 5, 6, 7, 8, 9]

In [ ]:
#4.16

inputStr=[int(x) for x in input('쉼표로 구분된 정수를 여러 개 입력하시오: ').split(',')]
def my_sort2(inputStr):
  print('입력된 정수의 리스트:{}'.format(inputStr))
  inputStr.sort()
  print('정렬된 정수의 리스트:{}'.format(inputStr))

my_sort2(inputStr)

쉼표로 구분된 정수를 여러 개 입력하시오: 56,67,89,34,24,300,99
입력된 정수의 리스트:[56, 67, 89, 34, 24, 300, 99]
정렬된 정수의 리스트:[24, 34, 56, 67, 89, 99, 300]

In [ ]:
#4.17

def sum_range(n1,n2):
  sum1=0
  for i in range(n1,n2+1):
    sum1+=i
  return sum1
print('10에서 20까지의 정수의 합:{}'.format(sum_range(10,20)))
print('40에서 100까지의 정수의 합:{}'.format(sum_range(40,100)))

10에서 20까지의 정수의 합:165
40에서 100까지의 정수의 합:4270

In [ ]:
#4.18

a=int(input('범위의 시작 정수:'))
b=int(input('범위의 마지막 정수:'))

def lcs(a,b):
  if a%b==0: return b
  else: return lcs(b,(a%b))

def solution(arr):
  answer=1
  for i in arr:answer=(answer*i)/lcs(answer,i)
  return answer

print('{}에서 {}까지의 정수들의 최소 공배수는:{}'.format(a,b,solution(arr)))

범위의 시작 정수:2
범위의 마지막 정수:4

NameError: ignored

In [ ]:
#4.19

n=int(input('fibo(n)의 n을 입력하세요:'))

def fibo(n):
  if n<1:
    return n+1
  else:
    return(fibo(n-1)+fibo(n-2))

if n<=0:
  print('오류: 양수를 입력하세요.')
else:
  print('fibo({})={}'.format(n,fibo(n)))

fibo(n)의 n을 입력하세요:3
fibo(3)=3

In [ ]:
n=int(input('fibo(n)의 n을 입력하세요:'))

def fibo(n):
  if n<1:
    return n+1
  else:
    return(fibo(n-1)+fibo(n-2))

if n<=0:
  print('오류: 양수를 입력하세요.')
else:
  print('fibo({})={}'.format(n,fibo(n)))

fibo(n)의 n을 입력하세요:4
fibo(4)=5

In [ ]:
#4.20

def fibo(n):
  if n<1:
    return n+1
  else:
    return(fibo(n-1)+fibo(n-2))

for i in range(16):
  if(i<=5):
    print('fibo(  {})=       {}'.format(i,fibo(i)))
  elif(i<10):
    print('fibo(  {})=      {}'.format(i,fibo(i)))
  elif(i==10):
    print('fibo( {})=      {}'.format(i,fibo(i)))
  else:
    print('fibo( {})=     {}'.format(i,fibo(i)))

fibo(  0)=       1
fibo(  1)=       1
fibo(  2)=       2
fibo(  3)=       3
fibo(  4)=       5
fibo(  5)=       8
fibo(  6)=      13
fibo(  7)=      21
fibo(  8)=      34
fibo(  9)=      55
fibo( 10)=      89
fibo( 11)=     144
fibo( 12)=     233
fibo( 13)=     377
fibo( 14)=     610
fibo( 15)=     987

In [ ]:
#4.21

resident_num=input('주민등록번호 첫 6숫자 형식 입력:')

birth_year=resident_num[0:2]
birth_month=resident_num[2:4]
birth_day=resident_num[4:6]

if(int(resident_num)>=500000):
  print('19{}년 {}월 {}일'.format(birth_year,birth_month,birth_day))
else:
  print('20{}년 {}월 {}일'.format(birth_year,birth_month,birth_day))

주민등록번호 첫 6숫자 형식 입력:570312
1957년 03월 12일

In [ ]:
resident_num=input('주민등록번호 첫 6숫자 형식 입력:')

birth_year=resident_num[0:2]
birth_month=resident_num[2:4]
birth_day=resident_num[4:6]

if(int(resident_num)>=500000):
  print('19{}년 {}월 {}일'.format(birth_year,birth_month,birth_day))
else:
  print('20{}년 {}월 {}일'.format(birth_year,birth_month,birth_day))

주민등록번호 첫 6숫자 형식 입력:011123
2001년 11월 23일

In [ ]:
#4.22(파이썬 라이브러리 모듈 datatime가 지원이 안되서 날짜를 임의로 입력했습니다.)

a,b,c=input().split()
print('현재 시간은 {}년 {}월 {}일입니다.'.format(a,b,c))
print('지금 태어난 아이의 주민등록번호 앞자리는:{}{}{}'.format(a[2:],b,c))

2019 08 13
현재 시간은 2019년 08월 13일입니다.
지금 태어난 아이의 주민등록번호 앞자리는:190813

In [ ]:
#4.23
def area_and_circumference(r):
  while r:
    if(r>0):
      r=int(input('반지름을 입력하시오:'))
      pi=3.141592
      area=pi*r*r
      length=2*pi*r
      print('넓이:{},둘레:{}'.format(round(area,3),round(length,3)))
    else:
      print('프로그램을 종료합니다.')
      break

area_and_circumference(3)

반지름을 입력하시오:6
넓이:113.097,둘레:37.699
반지름을 입력하시오:22
넓이:1520.531,둘레:138.23
반지름을 입력하시오:4
넓이:50.265,둘레:25.133
반지름을 입력하시오:-1
넓이:3.142,둘레:-6.283
프로그램을 종료합니다.

In [ ]:
#4.24

x=str(input('여러 단어로 이루어진 글을 입력하세요:'))

x=x.replace(':',' ').replace(',',' ').replace('.',' ')
list=x.split()
sorted_list=sorted(list)
print(sorted_list)

여러 단어로 이루어진 글을 입력하세요:임의의 문장을 입력:출력, 이것은 테스트 문장. 가:가나:나:나나:다람쥐 : 마린보이.
['가', '가나', '나', '나나', '다람쥐', '마린보이', '문장', '문장을', '이것은', '임의의', '입력', '출력', '테스트']

In [ ]:
#4.25

s1='Kang Young Min'
s2=' Kang Young-Min'
s3='Park Dong Min'
s4=' Park Dong-Yun'

t1=s1.replace(' ','')
t1=t1.upper()
t2=s2.lstrip()
t2=s2.replace(' ','').replace('-','')
t2=t2.upper()
t3=s3.replace(' ','')
t3=t3.upper()
t4=s4.lstrip()
t4=s4.replace(' ','').replace('-','')
t4=t4.upper()

print('{}(은)는 {}(으)로 수정됨'.format(s1,t1))
print('{}(은)는 {}(으)로 수정됨'.format(s2,t2))
print('{}(은)는 {}(으)로 수정됨'.format(s3,t3))
print('{}(은)는 {}(으)로 수정됨'.format(s4,t4))

a=t1.count('N')
b=t2.count('N')
c=t3.count('N')
d=t4.count('N')

print('{}:{}개의 N이 나타남'.format(t1,a))
print('{}:{}개의 N이 나타남'.format(t2,b))
print('{}:{}개의 N이 나타남'.format(t3,c))
print('{}:{}개의 N이 나타남'.format(t4,d))

Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
 Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
Park Dong Min(은)는 PARKDONGMIN(으)로 수정됨
 Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
KANGYOUNGMIN:3개의 N이 나타남
KANGYOUNGMIN:3개의 N이 나타남
PARKDONGMIN:2개의 N이 나타남
PARKDONGYUN:2개의 N이 나타남

In [ ]:
#4.26

x='주어진 문자열: Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)'

y=x.replace('Bython','Python').replace('주어진','수정된')
z=y.count('Python')

print(x)
print(y)
print('Bython 문자열은 모두 {}번 수정했습니다.'.format(z))

주어진 문자열: Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)
수정된 문자열: Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.

In [ ]:
#4.27

def unit_fraction(frac):
  a=int(1/frac)

  d1=frac-1/(a+1)
  d2=1/a-frac
  if d1<d2:
    return a+1
  else:
    return a

x=float(input('1보다 작고 0보다 큰 소수를 입력하세요: '))

if x<=0 or x>1.0:
  print('입력 오류입니다.')
else:
  a=unit_fraction(x)
  print('가장 가까운 단위 분수는 1/{0}이며, 이 값은 {1:.50f}입니다.'.format(a,1/a))

1보다 작고 0보다 큰 소수를 입력하세요: 0.0732
가장 가까운 단위 분수는 1/14이며, 이 값은 0.07142857142857142460634634062444092705845832824707입니다.

In [ ]:
def unit_fraction(frac):
  a=int(1/frac)

  d1=frac-1/(a+1)
  d2=1/a-frac
  if d1<d2:
    return a+1
  else:
    return a

x=float(input('1보다 작고 0보다 큰 소수를 입력하세요: '))

if x<=0 or x>1.0:
  print('입력 오류입니다.')
else:
  a=unit_fraction(x)
  print('가장 가까운 단위 분수는 1/{0}이며, 이 값은 {1:.50f}입니다.'.format(a,1/a))

1보다 작고 0보다 큰 소수를 입력하세요: 0.00000000000000000000000000000000003423423
가장 가까운 단위 분수는 1/29210529928670806241405426349375488이며, 이 값은 0.00000000000000000000000000000000003423423000000000입니다.

In [ ]:
#4.28

def factorial(k):
  return k*factorial(k-1) if k>1 else 1

def euler(n):
  sum=0
  for i in range(0,n+1,1):
    sum+=sum+(1/factorial(n))
  return sum

print('euler(5)={}'.format(round(euler(5),5)))
print('euler(20)={}'.format(round(euler(20),5)))

euler(5)=0.525
euler(20)=0.0