Problem 3-2

In [ ]:
name=input('이름을 입력하시오: ')
height=int(input('키를 입력하시오(단위 cm): '))
if(height>=140):
  print(name,'님은 놀이기구를 탈 수 있습니다.')
else:
  print(name,'님은 놀이기구를 탈 수 없습니다.')

이름을 입력하시오: 동윤
키를 입력하시오(단위 cm): 170
동윤 님은 놀이기구를 탈 수 있습니다.

In [ ]:
name=input('이름을 입력하시오: ')
height=int(input('키를 입력하시오(단위 cm): '))
if(height>=140):
  print(name,'님은 놀이기구를 탈 수 있습니다.')
else:
  print(name,'님은 놀이기구를 탈 수 없습니다.')

이름을 입력하시오: 승주
키를 입력하시오(단위 cm): 132
승주 님은 놀이기구를 탈 수 없습니다.

Problem 3-3

In [ ]:
age=int(input('나이를 입력하시오: '))
height=int(input('키를 입력하시오(단위 cm): '))
if(age>=19 and height>=150):
  print('입장할 수 있습니다.')
else:
  print('입장할 수 없습니다.')

나이를 입력하시오: 23
키를 입력하시오(단위 cm): 160
입장할 수 있습니다.

In [ ]:
age=int(input('나이를 입력하시오: '))
height=int(input('키를 입력하시오(단위 cm): '))
if(age>=19 and height>=150):
  print('입장할 수 있습니다.')
else:
  print('입장할 수 없습니다.')

나이를 입력하시오: 16
키를 입력하시오(단위 cm): 162
입장할 수 없습니다.

Problem 3-4

In [ ]:
age=int(input('나이를 입력하시오: '))
if(age>=20):
  print('Adult')
elif(age>=10):
  print('Youth')
else:
  print('Kid')

나이를 입력하시오: 23
Adult

In [ ]:
age=int(input('나이를 입력하시오: '))
if(age>=20):
  print('Adult')
elif(age>=10):
  print('Youth')
else:
  print('Kid')

나이를 입력하시오: 18
Youth

In [ ]:
age=int(input('나이를 입력하시오: '))
if(age>=20):
  print('Adult')
elif(age>=10):
  print('Youth')
else:
  print('Kid')

나이를 입력하시오: 9
Kid

Problem 3-5

In [ ]:
a, b=input('두 정수를 입력하시오: ').split()
a=int(a)
b=int(b)
if(a>=b):
  print(b,a)
else:
  print(a,b)

두 정수를 입력하시오: 99 12
12 99

Problem 3-6

In [ ]:
a,b,c=input('세 정수를 입력하시오: ').split()
a=int(a)
b=int(b)
c=int(c)
if(a>b and b>c):
  print(c,b,a)
elif(b>a):
  print(c,a,b)
elif(c>b and b>a):
  print(a,b,c)
elif(b>c):
  print(a,c,b)
elif(c>a and a>b):
  print(b,a,c)
else:
  print(b,c,a)

세 정수를 입력하시오: 9 12 4
4 9 12

In [ ]:
a,b,c=input('세 정수를 입력하시오: ').split()
a=int(a)
b=int(b)
c=int(c)
if(a>b and b>c):
  print(c,b,a)
elif(b>a):
  print(c,a,b)
elif(c>b and b>a):
  print(a,b,c)
elif(b>c):
  print(a,c,b)
elif(c>a and a>b):
  print(b,a,c)
else:
  print(b,c,a)

세 정수를 입력하시오: 99 12 4
4 12 99

Problem 3-7

In [ ]:
game_score=int(input('게임점수를 입력하시오: '))
if(game_score>=1000):
  print('고수입니다.')
else:
  print('입문자입니다.')

게임점수를 입력하시오: 990
입문자입니다.

Problem 3-8

In [ ]:
x,y=input('점의 좌표 x, y를 입력하시오: ').split()
x=int(x)
y=int(y)
if(x>0 and y>0):
  print('1사분면에 있음')
elif(x<0 and y>0):
  print('2사분면에 있음')
elif(x<0 and y<0):
  print('3사분면에 있음')
else:
  print('4사분면에 있음')

점의 좌표 x, y를 입력하시오: 2 4
1사분면에 있음

In [ ]:
x,y=input('점의 좌표 x, y를 입력하시오: ').split()
x=int(x)
y=int(y)
if(x>0 and y>0):
  print('1사분면에 있음')
elif(x<0 and y>0):
  print('2사분면에 있음')
elif(x<0 and y<0):
  print('3사분면에 있음')
else:
  print('4사분면에 있음')

점의 좌표 x, y를 입력하시오: -2 -4
3사분면에 있음

Problem 3-9

In [ ]:
n=int(input('정수를 입력하시오: '))
if(n%2==0):
  print(n,'은 2(으)로 나누어집니다.')
else:
  print(n,'은 2(으)로 나누어지지 않습니다.')

if(n%3==0):
  print(n,'은 3(으)로 나누어집니다.')
else:
  print(n,'은 3(으)로 나누어지지 않습니다.')

if(n%2==0 and n%3==0):
  print(n,'은 2와(과) 3 모두로 나누어집니다.')
else:
  print(n,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')

정수를 입력하시오: 15
15 은 2(으)로 나누어지지 않습니다.
15 은 3(으)로 나누어집니다.
15 는(은) 2와(과) 3 모두로 나누어지지 않습니다.

In [ ]:
n=int(input('정수를 입력하시오: '))
if(n%2==0):
  print(n,'은 2(으)로 나누어집니다.')
else:
  print(n,'은 2(으)로 나누어지지 않습니다.')

if(n%3==0):
  print(n,'은 3(으)로 나누어집니다.')
else:
  print(n,'은 3(으)로 나누어지지 않습니다.')

if(n%2==0 and n%3==0):
  print(n,'은 2와(과) 3 모두로 나누어집니다.')
else:
  print(n,'는(은) 2와(과) 3 모두로 나누어지지 않습니다.')

정수를 입력하시오: 12
12 은 2(으)로 나누어집니다.
12 은 3(으)로 나누어집니다.
12 은 2와(과) 3 모두로 나누어집니다.

Problem 3-10

In [ ]:
a,b=input('두 정수를 입력하시오: ').split()
a=int(a)
b=int(b)

if(a%b==0):
  print(a,'는(은)',b,'의 배수입니다.')
else:
  print(a,'는(은)',b,'의 배수가 아닙니다.')

두 정수를 입력하시오: 15 5
15 는(은) 5 의 배수입니다.

In [ ]:
a,b=input('두 정수를 입력하시오: ').split()
a=int(a)
b=int(b)

if(a%b==0):
  print(a,'는(은)',b,'의 배수입니다.')
else:
  print(a,'는(은)',b,'의 배수가 아닙니다.')

두 정수를 입력하시오: 125 52
125 는(은) 52 의 배수가 아닙니다.

Problem 3-11

In [ ]:
a,b,c=input('세 복권번호를 입력하시오: ').split()
a=int(a)
b=int(b)
c=int(c)

if(a==2 and b==3 and c==9):
  print('상금 1억 원')
elif(a==2 and b==9 and c==3):
  print('상금 1억 원')
elif(a==3 and b==2 and c==9):
  print('상금 1억 원')
elif(a==3 and b==9 and c==2):
  print('상금 1억 원')
elif(a==9 and b==2 and c==3):
  print('상금 1억 원')
elif(a==9 and b==3 and c==2):
  print('상금 1억 원')
elif(a==2 and b==3):
  print('상금 1천만 원')
elif(b==2 and a==3):
  print('상금 1천만 원')
elif(a==2 and c==3):
  print('상금 1천만 원')
elif(c==2 and a==3):
  print('상금 1천만 원')
elif(b==2 and c==3):
  print('상금 1천만 원')
elif(c==2 and b==3):
  print('상금 1천만 원')

elif(a==2 and b==9):
  print('상금 1천만 원')
elif(b==2 and a==9):
  print('상금 1천만 원')
elif(a==2 and c==9):
  print('상금 1천만 원')
elif(c==2 and a==9):
  print('상금 1천만 원')
elif(b==2 and c==9):
  print('상금 1천만 원')
elif(c==2 and b==9):
  print('상금 1천만 원')

elif(a==3 and b==9):
  print('상금 1천만 원')
elif(b==3 and a==9):
  print('상금 1천만 원')
elif(a==3 and c==9):
  print('상금 1천만 원')
elif(c==3 and a==9):
  print('상금 1천만 원')
elif(b==3 and c==9):
  print('상금 1천만 원')
elif(c==3 and b==9):
  print('상금 1천만 원')
elif(a==2):
  print('상금 1만 원')
elif(a==3):
  print('상금 1만 원')
elif(a==9):
  print('상금 1만 원')
elif(b==2):
  print('상금 1만 원')
elif(b==3):
  print('상금 1만 원')
elif(b==9):
  print('상금 1만 원')
elif(c==2):
  print('상금 1만 원')
elif(c==3):
  print('상금 1만 원')
elif(c==9):
  print('상금 1만 원')
else:
  print('다음 기회에...')

세 복권번호를 입력하시오: 1 5 7
다음 기회에...

In [ ]:
a,b,c=input('세 복권번호를 입력하시오: ').split()
a=int(a)
b=int(b)
c=int(c)

if(a==2 and b==3 and c==9):
  print('상금 1억 원')
elif(a==2 and b==9 and c==3):
  print('상금 1억 원')
elif(a==3 and b==2 and c==9):
  print('상금 1억 원')
elif(a==3 and b==9 and c==2):
  print('상금 1억 원')
elif(a==9 and b==2 and c==3):
  print('상금 1억 원')
elif(a==9 and b==3 and c==2):
  print('상금 1억 원')
elif(a==2 and b==3):
  print('상금 1천만 원')
elif(b==2 and a==3):
  print('상금 1천만 원')
elif(a==2 and c==3):
  print('상금 1천만 원')
elif(c==2 and a==3):
  print('상금 1천만 원')
elif(b==2 and c==3):
  print('상금 1천만 원')
elif(c==2 and b==3):
  print('상금 1천만 원')

elif(a==2 and b==9):
  print('상금 1천만 원')
elif(b==2 and a==9):
  print('상금 1천만 원')
elif(a==2 and c==9):
  print('상금 1천만 원')
elif(c==2 and a==9):
  print('상금 1천만 원')
elif(b==2 and c==9):
  print('상금 1천만 원')
elif(c==2 and b==9):
  print('상금 1천만 원')

elif(a==3 and b==9):
  print('상금 1천만 원')
elif(b==3 and a==9):
  print('상금 1천만 원')
elif(a==3 and c==9):
  print('상금 1천만 원')
elif(c==3 and a==9):
  print('상금 1천만 원')
elif(b==3 and c==9):
  print('상금 1천만 원')
elif(c==3 and b==9):
  print('상금 1천만 원')
elif(a==2):
  print('상금 1만 원')
elif(a==3):
  print('상금 1만 원')
elif(a==9):
  print('상금 1만 원')
elif(b==2):
  print('상금 1만 원')
elif(b==3):
  print('상금 1만 원')
elif(b==9):
  print('상금 1만 원')
elif(c==2):
  print('상금 1만 원')
elif(c==3):
  print('상금 1만 원')
elif(c==9):
  print('상금 1만 원')
else:
  print('다음 기회에...')

세 복권번호를 입력하시오: 1 2 7
상금 1만 원

In [ ]:
a,b,c=input('세 복권번호를 입력하시오: ').split()
a=int(a)
b=int(b)
c=int(c)

if(a==2 and b==3 and c==9):
  print('상금 1억 원')
elif(a==2 and b==9 and c==3):
  print('상금 1억 원')
elif(a==3 and b==2 and c==9):
  print('상금 1억 원')
elif(a==3 and b==9 and c==2):
  print('상금 1억 원')
elif(a==9 and b==2 and c==3):
  print('상금 1억 원')
elif(a==9 and b==3 and c==2):
  print('상금 1억 원')
elif(a==2 and b==3):
  print('상금 1천만 원')
elif(b==2 and a==3):
  print('상금 1천만 원')
elif(a==2 and c==3):
  print('상금 1천만 원')
elif(c==2 and a==3):
  print('상금 1천만 원')
elif(b==2 and c==3):
  print('상금 1천만 원')
elif(c==2 and b==3):
  print('상금 1천만 원')

elif(a==2 and b==9):
  print('상금 1천만 원')
elif(b==2 and a==9):
  print('상금 1천만 원')
elif(a==2 and c==9):
  print('상금 1천만 원')
elif(c==2 and a==9):
  print('상금 1천만 원')
elif(b==2 and c==9):
  print('상금 1천만 원')
elif(c==2 and b==9):
  print('상금 1천만 원')

elif(a==3 and b==9):
  print('상금 1천만 원')
elif(b==3 and a==9):
  print('상금 1천만 원')
elif(a==3 and c==9):
  print('상금 1천만 원')
elif(c==3 and a==9):
  print('상금 1천만 원')
elif(b==3 and c==9):
  print('상금 1천만 원')
elif(c==3 and b==9):
  print('상금 1천만 원')
elif(a==2):
  print('상금 1만 원')
elif(a==3):
  print('상금 1만 원')
elif(a==9):
  print('상금 1만 원')
elif(b==2):
  print('상금 1만 원')
elif(b==3):
  print('상금 1만 원')
elif(b==9):
  print('상금 1만 원')
elif(c==2):
  print('상금 1만 원')
elif(c==3):
  print('상금 1만 원')
elif(c==9):
  print('상금 1만 원')
else:
  print('다음 기회에...')

세 복권번호를 입력하시오: 1 2 9
상금 1천만 원

Problem 3-12

In [ ]:
x,y=input('점의 좌표 x,y를 입력하시오: ').split()
x=int(x)
y=int(y)
if((x**2+y**2)**0.5>5):
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x,y를 입력하시오: 2 4
원의 내부에 있음

In [ ]:
x,y=input('점의 좌표 x,y를 입력하시오: ').split()
x=int(x)
y=int(y)
if((x**2+y**2)**0.5>5):
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x,y를 입력하시오: 7 9
원의 외부에 있음

Problem 3-13

In [ ]:
x,y=input('점의 좌표 x,y를 입력하시오: ').split()
x=int(x)
y=int(y)
if(((x-3)**2+(y-4)**2)**0.5>10):
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x,y를 입력하시오: -9 -5
원의 외부에 있음

In [ ]:
x,y=input('점의 좌표 x,y를 입력하시오: ').split()
x=int(x)
y=int(y)
if(((x-3)**2+(y-4)**2)**0.5>10):
  print('원의 외부에 있음')
else:
  print('원의 내부에 있음')

점의 좌표 x,y를 입력하시오: 7 9
원의 내부에 있음

Problem 3-14

In [ ]:
a=input('알파벳을 입력하시오: ')
if(a=='a'or a=='e' or a=='i' or a=='o' or a=='u'):
  print(a,'(은)는 모음입니다.')
else:
  print(a,'(은)는 자음입니다.')

알파벳을 입력하시오: i
i (은)는 모음입니다.

In [ ]:
a=input('알파벳을 입력하시오: ')
if(a=='a'or a=='e' or a=='i' or a=='o' or a=='u'):
  print(a,'(은)는 모음입니다.')
else:
  print(a,'(은)는 자음입니다.')

알파벳을 입력하시오: t
t (은)는 자음입니다.

Problem 3-15

In [ ]:
n=0
i=1
while n<9:
  n=n+i
  print('2*',n,'=',2*n)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18

In [ ]:
for i in range(1,10,1):
  print('2*',i,'=',2*i)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18

Problem 3-16

In [ ]:
a=int(input('1에서 9까지의 수를 입력하세요: '))
while a not in [1,2,3,4,5,6,7,8,9]:
  a=int(input('1에서 9까지의 수를 다시 입력하세요: '))

i=0
while i<9:
  i=i+1
  print(a,'*',i,'=',a*i)

1에서 9까지의 수를 입력하세요: 11
1에서 9까지의 수를 다시 입력하세요: 10
1에서 9까지의 수를 다시 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
a=int(input('1에서 9까지의 수를 입력하세요: '))
while a not in [1,2,3,4,5,6,7,8,9]:
  a=int(input('1에서 9까지의 수를 다시 입력하세요: '))

for i in range(1,10,1):
  print(a,'*',i,'=',a*i)

1에서 9까지의 수를 입력하세요: 11
1에서 9까지의 수를 다시 입력하세요: 13
1에서 9까지의 수를 다시 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

Problem 3-18

In [ ]:
print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('1) 햄버거')
print('2) 치킨')
print('3) 피자')
a=int(input('1에서 3까지의 메뉴를 선택하세요: '))

while a not in [1,2,3]:
  a=int(input('메뉴를 다시 입력하세요: '))
if(a==1):
  print('햄버거를 선택하였습니다.')
elif(a==2):
  print('치킨을 선택하였습니다.')
else:
  print('피자를 선택하였습니다.')

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1에서 3까지의 메뉴를 선택하세요: 6
메뉴를 다시 입력하세요: 0
메뉴를 다시 입력하세요: 5
메뉴를 다시 입력하세요: 2
치킨을 선택하였습니다.

Problem 3-19

In [ ]:
print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('햄버거(입력 b)')
print('치킨(입력 c)')
print('피자(입력 p)')
x=input('메뉴를 선택하세요(알파벳 b,c,p 입력): ')

while a not in ['b','c','p']:
  a=input('메뉴를 다시 입력하세요(알파벳 b,c,p 입력): ')
if(a=='b'):
  print('햄버거를 선택하였습니다.')
elif(a=='c'):
  print('치킨을 선택하였습니다.')
else:
  print('피자를 선택하였습니다.')

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
햄버거(입력 b)
치킨(입력 c)
피자(입력 p)
메뉴를 선택하세요(알파벳 b,c,p 입력): x
메뉴를 다시 입력하세요(알파벳 b,c,p 입력): p
피자를 선택하였습니다.

Problem 3-20

In [ ]:
n=int(input('숫자를 입력하세요: '))
for i in range(n):
  st='*'
  for j in range(i):
    st=st+'*'
  print(st)

숫자를 입력하세요: 6
*
**
***
****
*****
******

Problem 3-21

In [ ]:
n=int(input('숫자를 입력하세요: '))
b=0

for i in range(2,n):
  if n%i==0:
    b=1

if b==0:
  print(n,'는 소수입니다')
else:
  print(n,'는 소수가 아닙니다')

숫자를 입력하세요: 5
5 는 소수입니다

In [ ]:
n=int(input('숫자를 입력하세요: '))
b=0

for i in range(2,n):
  if n%i==0:
    b=1

if b==0:
  print(n,'는 소수입니다')
else:
  print(n,'는 소수가 아닙니다')

숫자를 입력하세요: 9
9 는 소수가 아닙니다

Problem 3-22

In [ ]:
b=0
if(n<13):
  for i in range(2,n):
    n+=1
    if n%i==0:
      b=1
    else:
      b=0
  if b==0:
    print(n,': 소수')
  else:
    print(n,': 합성수')

1 : 소수

Problem 3-23

In [ ]:
n=int(input('숫자를 입력하세요: '))
i=1
s=0
for i in range(n):
  i+=1
  s=s+i**2
print('결과는',s,'입니다.')

숫자를 입력하세요: 5
결과는 55 입니다.

Problem 3-24

In [ ]:
n=int(input('숫자를 입력하세요: '))
i=1
s=0
for i in range(n):
  i+=1
  s=s+(1/i**2)
print('결과는',s,'입니다.')

숫자를 입력하세요: 10
결과는 1.5497677311665408 입니다.

In [ ]:
n=int(input('숫자를 입력하세요: '))
i=1
s=0
for i in range(n):
  i+=1
  s=s+(1/i**2)
print('결과는',s,'입니다.')

숫자를 입력하세요: 100
결과는 1.6349839001848923 입니다.

Problem 3-25

In [ ]:
i=0
n=0
while n<30:
  i+=1
  n=n+7
  print('day:',i,'달팽이의 위치:',n,'미터')
  if(n>=30):
    print('우물을 탈출하는 데 걸린 날은',i,'일 입니다.')
  else:
    n=n-5

day: 1 달팽이의 위치: 7 미터
day: 2 달팽이의 위치: 9 미터
day: 3 달팽이의 위치: 11 미터
day: 4 달팽이의 위치: 13 미터
day: 5 달팽이의 위치: 15 미터
day: 6 달팽이의 위치: 17 미터
day: 7 달팽이의 위치: 19 미터
day: 8 달팽이의 위치: 21 미터
day: 9 달팽이의 위치: 23 미터
day: 10 달팽이의 위치: 25 미터
day: 11 달팽이의 위치: 27 미터
day: 12 달팽이의 위치: 29 미터
day: 13 달팽이의 위치: 31 미터
우물을 탈출하는 데 걸린 날은 13 일 입니다.

Problem 3-26

In [ ]:
n=int(input('n을 입력하시오: '))
i=0
while i<=n:
  i=i+1
  for i in range(1,n+1):
    print(i,end='  ')
  print()
  for i in range(2*n,n,-1):
    print(i,end='  ')
  print()
  for i in range(2*n+1,3*n+1):
    print(i,end='  ')
  print()
  for i in range(4*n,3*n,-1):
    print(i,end='  ')
  print()
  for i in range(4*n+1,5*n+1):
    print(i,end='  ')

n을 입력하시오: 5
1  2  3  4  5
10  9  8  7  6
11  12  13  14  15
20  19  18  17  16
21  22  23  24  25

Problem 3-27

In [ ]:
for i in range(100,1000,1):
    a1 = int(str(i)[0])
    a2 = int(str(i)[1])
    a3 = int(str(i)[2])
 
    if i == (a1**3 + a2**3 + a3**3 ):
        print(i,end=' ')

153 370 371 407

Problem 3-28

In [ ]:
n=int(input('정수를 입력하시오:'))
a=str(n).count('0')
b=str(n).count('1')
c=str(n).count('2')
d=str(n).count('3')
e=str(n).count('4')
f=str(n).count('5')
g=str(n).count('6')
h=str(n).count('7')
i=str(n).count('8')
j=str(n).count('9')
if(str(n)[0]==str(n)[a+b+c+d+e+f+g+h+i+j-1]):
  print(n,'은(는) 거꾸로 정수입니다.')
else:
  print(n,'은(는) 거꾸로 정수가 아닙니다.')

정수를 입력하시오:3443
3443 은(는) 거꾸로 정수입니다.

In [ ]:
n=int(input('정수를 입력하시오:'))
a=str(n).count('0')
b=str(n).count('1')
c=str(n).count('2')
d=str(n).count('3')
e=str(n).count('4')
f=str(n).count('5')
g=str(n).count('6')
h=str(n).count('7')
i=str(n).count('8')
j=str(n).count('9')
if(str(n)[0]==str(n)[a+b+c+d+e+f+g+h+i+j-1]):
  print(n,'은(는) 거꾸로 정수입니다.')
else:
  print(n,'은(는) 거꾸로 정수가 아닙니다.')

정수를 입력하시오:324
324 은(는) 거꾸로 정수가 아닙니다.

Problem 3-29

In [ ]:
n=500
while n:
  a=int(input('충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오:'))
  n=n+a
  print('현재 탱크양은',n,'입니다.')
  if(n<50):
    break

print('경고: 연료가 10% 미만이니 충전하세요!')

충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오:+60
현재 탱크양은 560 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오:-300
현재 탱크양은 260 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오:-220
현재 탱크양은 40 입니다.
경고: 연료가 10% 미만이니 충전하세요!

Problem 3-30

In [ ]:
print('1) 덧셈\t 2) 뺄셈 3)곱셈\t 4)나눗셈')
a=int(input('어떤 연산을 원하는지 번호를 입력하세요:'))
if(a==1 or a==2 or a==3 or a==4):
  x,y=input('연산을 원하는 숫자 두개를 입력하세요').split()
  x=int(x)
  y=int(y)
  if(a==1):
    print(x,'+',y,'=',x+y)
  elif(a==2):
    print(x,'-',y,'=',x-y)
  elif(a==3):
    print(x,'*',y,'=',x*y)
  else:
    print(x,'/',y,'=',x/y)
else:
  print('잘못 입력하셨습니다.')

1) 덧셈	 2) 뺄셈 3)곱셈	 4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요:4
연산을 원하는 숫자 두개를 입력하세요3 4
3 / 4 = 0.75

In [ ]:
print('1) 덧셈\t 2) 뺄셈 3)곱셈\t 4)나눗셈')
a=int(input('어떤 연산을 원하는지 번호를 입력하세요:'))
if(a==1 or a==2 or a==3 or a==4):
  x,y=input('연산을 원하는 숫자 두개를 입력하세요').split()
  x=int(x)
  y=int(y)
  if(a==1):
    print(x,'+',y,'=',x+y)
  elif(a==2):
    print(x,'-',y,'=',x-y)
  elif(a==3):
    print(x,'*',y,'=',x*y)
  else:
    print(x,'/',y,'=',x/y)
else:
  print('잘못 입력하셨습니다.')

1) 덧셈	 2) 뺄셈 3)곱셈	 4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요:6
잘못 입력하셨습니다.

Problem 3-31

In [ ]:
def divisors(n):
    i=2;total=1
    while i<n:
        if n%i==0:
            total+=i
        i+=1
    return total
 
for i in range(1,200000):
    value = divisors(i)
    if i != value and divisors(value) == i:
        print(i,'의 친화수', value)

220 의 친화수 284
284 의 친화수 220
1184 의 친화수 1210
1210 의 친화수 1184
2620 의 친화수 2924
2924 의 친화수 2620
5020 의 친화수 5564
5564 의 친화수 5020
6232 의 친화수 6368
6368 의 친화수 6232
10744 의 친화수 10856
10856 의 친화수 10744
12285 의 친화수 14595
14595 의 친화수 12285
17296 의 친화수 18416
18416 의 친화수 17296
63020 의 친화수 76084
66928 의 친화수 66992
66992 의 친화수 66928
67095 의 친화수 71145
69615 의 친화수 87633
71145 의 친화수 67095
76084 의 친화수 63020
79750 의 친화수 88730
87633 의 친화수 69615
88730 의 친화수 79750
100485 의 친화수 124155
122265 의 친화수 139815
122368 의 친화수 123152
123152 의 친화수 122368
124155 의 친화수 100485
139815 의 친화수 122265
141664 의 친화수 153176
142310 의 친화수 168730
153176 의 친화수 141664
168730 의 친화수 142310
171856 의 친화수 176336
176272 의 친화수 180848
176336 의 친화수 171856
180848 의 친화수 176272
185368 의 친화수 203432
196724 의 친화수 202444