In [ ]:
#5.3

list1=[3,5,7]
list2=[2,3,4,5,6]

for i in list1:
  for j in list2:
    print('{}*{}={}'.format(i,j,i*j))

3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42

In [ ]:
#5.4

a=[2,3,4,5,6]
print('a=',a)
rev_a=[]
for num in a:
  for i in range(0,5):
    x=a.pop()
    rev_a.insert(i,x)
print('rev_a=',rev_a)

a= [2, 3, 4, 5, 6]
rev_a= [6, 5, 4, 3, 2]

In [ ]:
#5.5

list1=['I like','I love']
list2=['fan cake,','kiwi juice.','espresso.']

for x in list1:
  for y in list2:
    print(x,y)

I like fan cake,
I like kiwi juice.
I like espresso.
I love fan cake,
I love kiwi juice.
I love espresso.

In [ ]:
#5.7

n_list=[10,20,30,50,60]
sum=0
for i in n_list:
  sum+=i

print('리스트 원소들 :',n_list)
print('리스트 원소들의 합 :',sum)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 합 : 170

In [ ]:
#5.8

n_list=[10,20,30,50,60]
mul=1
for i in n_list:
  mul*=i

print('리스트 원소들 :',n_list)
print('리스트 원소들의 곱 :',mul)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 곱 : 18000000

In [ ]:
#5.9

n_list=[10,20,30,50,60]

max=n_list[0]
for i in range(1,len(n_list)):
  if max<n_list[i]:
    max=n_list[i]

print('리스트 원소들 :',n_list)
print('리스트 원소들 중 최댓값 :',max)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들 중 최댓값 : 60

In [ ]:
#5.10

n_list=[10,20,30,50,60]

min=n_list[0]
for i in range(1,len(n_list)):
  if min>n_list[i]:
    min=n_list[i]

print('리스트 원소들 :',n_list)
print('리스트 원소들 중 최솟값 :',min)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들 중 최솟값 : 10

In [ ]:
#5.11

n_list=list(map(int,input('5개의 수를 입력하시오:').split()))

print('합 :',sum(n_list))
print('평균 :',sum(n_list)/len(n_list))
print('최댓값 :',max(n_list))
print('최솟값 :',min(n_list))

5개의 수를 입력하시오:45 67 20 34 2
합 : 168
평균 : 33.6
최댓값 : 67
최솟값 : 2

In [ ]:
#5.12-(1)

n=int(input('n을 입력하세요: '))
print(n,end='')
list1=list(map(int,input('개의 수를 입력하세요:').split()))
print('합 :',sum(list1))
print('평균 :',sum(list1)/len(list1))
print('최댓값 :',max(list1))
print('최솟값 :',min(list1))

n을 입력하세요: 3
3개의 수를 입력하세요:1 2 3
합 : 6
평균 : 2.0
최댓값 : 3
최솟값 : 1

In [ ]:
#5.12-(2)

n=int(input('n을 입력하세요: '))
print(n,end='')
list1=list(map(int,input('개의 수를 입력하세요:').split()))
print('합 :',sum(list1))
print('평균 :',sum(list1)/len(list1))
print('최댓값 :',max(list1))
print('최솟값 :',min(list1))

n을 입력하세요: 5
5개의 수를 입력하세요:10 2 30 3 28
합 : 73
평균 : 14.6
최댓값 : 30
최솟값 : 2

In [ ]:
#5.12-(3)

n=int(input('n을 입력하세요: '))
print(n,end='')
list1=list(map(int,input('개의 수를 입력하세요:').split()))
print('합 :',sum(list1))
print('평균 :',sum(list1)/len(list1))
print('최댓값 :',max(list1))
print('최솟값 :',min(list1))

n을 입력하세요: 10
10개의 수를 입력하세요:34 56 7 9 23 10 2 30 3 28
합 : 202
평균 : 20.2
최댓값 : 56
최솟값 : 2

In [ ]:
#5.13

n1=list(map(int,input('10개의 수를 입력하세요:').split()))

def standard_deviation(n1):
  x=len(n1)
  avg=sum(n1)/x
  result=0
  for n in n1:
    result+=(n-avg)**2
  result/=x
  return result**0.5

print('합 :',sum(n1))
print('평균 :',sum(n1)/len(n1))
print('표준편차 :',round(standard_deviation(n1),2))

10개의 수를 입력하세요:45 67 20 34 2 100 23 45 67 89
합 : 492
평균 : 49.2
표준편차 : 29.72

In [ ]:
#5.15

greet='Have a beautiful day.'
greet[0:4]

'Have'

In [ ]:
greet[7:16]

'beautiful'

In [ ]:
greet[17:20]

'day'

In [ ]:
#5.17-(1)

animals=['dog','cat','tiger','lion']
print('animals =',animals)

animals = ['dog', 'cat', 'tiger', 'lion']

In [ ]:
#5.17-(2)

animals=['dog','cat','tiger','lion']
animals[0]='lion'
animals[1]='dog'
animals[2]='cat'
animals[3]='tiger'

print('animals =',animals)

animals = ['lion', 'dog', 'cat', 'tiger']

In [ ]:
#5.17-(3)

animals=['dog','cat','tiger','lion']
for x in animals:
  print('I love {}.'.format(x))

I love dog.
I love cat.
I love tiger.
I love lion.

In [ ]:
#5.18-(1)

s_list=['abc','bcd','bcdefg','abba','cddc','opq']
x=s_list[0]
for i in s_list:
  if(len(i)<len(x)):
    x=i

print('가장 길이가 짧은 문자열 :',x)

가장 길이가 짧은 문자열 : abc

In [ ]:
#5.18-(1)

s_list=['abc','bcd','bcdefg','abba','cddc','opq']
x=s_list[0]
for i in s_list:
  if(len(i)<len(x)):
    x=i

print('가장 길이가 짧은 문자열 :',x)

가장 길이가 짧은 문자열 : abc

In [ ]:
#5.18-(2)

s_list=['abc','bcd','bcdefg','abba','cddc','opq']
x=s_list[0]
for i in s_list:
  if(len(i)>len(x)):
    x=i

print('가장 길이가 긴 문자열 :',x)

가장 길이가 긴 문자열 : bcdefg

In [ ]:
#5.18-(3)

s_list=['abc','bcd','bcdefg','abba','cddc','opq']
n_list=[]
x=s_list[0]
for i in s_list:
  if(len(i)<=len(x)):
    n_list.insert(0,i)

n_list.sort()
print("가장 길이가 짧은 문자열 : '{}','{}','{}'".format(n_list[0],n_list[1],n_list[2]))

가장 길이가 짧은 문자열 : 'abc','bcd','opq'

In [ ]:
#5.19

s_list=['abc','bcd','abc','abba','cddc','opq','opq']
print('s_list =',s_list)
new_s_list=[]
for x in s_list:
  if x not in new_s_list:
    new_s_list.append(x)

print('new s_list =',new_s_list)

s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new s_list = ['abc', 'bcd', 'abba', 'cddc', 'opq']

In [10]:
#5.20

src=input('src= ')

if(src==''):
  output=''
else:
  output=src[0]
  count=0
  for i in src:
    if i==output[-1]:
      count+=1
    else:
      output+=str(count)+i
      count=1
  output+=str(count)

print('output=',output)

src= aaabccccaaaaacccfg
output= a3b1c4a5c3f1g1

In [11]:
#5.21

src = input('src = ')
s = [src[i] for i in range(len(src)) if i%2 == 0]
n = [int(src[i]) for i in range(len(src)) if i%2 != 0]
res = ''
for i in range(len(n)):
    for j in range(n[i]):
        res += s[i]
print('output = '+res)

src = a2b3c6a2c3f1g1
output = aabbbccccccaacccfg

In [15]:
#5.22

n=int(input('n을 입력하시오 :'))

slist=list(range(1,n*n+1))

for i in range(n):
  x=slist[i*n:(i+1)*n]

  if i%2==1:
    x.reverse()
  slist[i*n:(i+1)*n]=x

k=0
for i in slist:
  k+=1
  print('{:4d}'.format(i),end='')
  if k%n==0:
    print()

n을 입력하시오 :5
   1   2   3   4   5
  10   9   8   7   6
  11  12  13  14  15
  20  19  18  17  16
  21  22  23  24  25

In [16]:
n=int(input('n을 입력하시오 :'))

slist=list(range(1,n*n+1))

for i in range(n):
  x=slist[i*n:(i+1)*n]

  if i%2==1:
    x.reverse()
  slist[i*n:(i+1)*n]=x

k=0
for i in slist:
  k+=1
  print('{:4d}'.format(i),end='')
  if k%n==0:
    print()

n을 입력하시오 :6
   1   2   3   4   5   6
  12  11  10   9   8   7
  13  14  15  16  17  18
  24  23  22  21  20  19
  25  26  27  28  29  30
  36  35  34  33  32  31

In [33]:
#5.23-(1)

person1=['온달',20,1,180.0,100.0]
person2=['이사부',25,1,170.0,70.0]
person3=['평강',22,0,169.0,60.0]
person4=['혁거세',40,1,150.0,50.0]

def how_many_persons(x):
  count=0
  for i in x:
    if type(i)==str:
      count+=1
  return count

person_list=person1+person3+person4
n_persons=how_many_persons(person_list) 
print(str(n_persons)+'명의 정보가 담겨 있습니다.')

3명의 정보가 담겨 있습니다.

In [49]:
#5.23-(2)

person1=['온달',20,1,180.0,100.0]
person2=['이사부',25,1,170.0,70.0]
person3=['평강',22,0,169.0,60.0]
person4=['혁거세',40,1,150.0,50.0]

def compute_average_age(x):
  sum=0
  for i in x:
    if(x.index(i)%5==1):
      sum+=i
  return sum/4

person_list=person1+person2+person3+person4
average_age=compute_average_age(person_list) 
print('평균 나이는 '+str(average_age)+'세입니다.')

평균 나이는 26.75세입니다.

In [65]:
#5.23-(3)

def count_males_females(x):
  male=x.count(1)
  female=x.count(0)
  return male,female

person_list=person1+person2+person3+person4
n_male,n_female=count_males_females(person_list) 
print('리스트에는 남자가',n_male,'명, 여자가',n_female,'명입니다.')

리스트에는 남자가 3 명, 여자가 1 명입니다.

In [76]:
#5.23-(4)

def display_persons(x):
  for j in range(0,len(x),5):
    print(x[j:j+5])

display_persons(person_list)

['온달', 20, 1, 180.0, 100.0]
['이사부', 25, 1, 170.0, 70.0]
['평강', 22, 0, 169.0, 60.0]
['혁거세', 40, 1, 150.0, 50.0]

In [79]:
#5.24

for x in range(1,10001):
  sum=0
  sum_list=[]
  for i in range(1,x):
    if x%i==0:
      sum+=i
      sum_list.append(i)
  if sum==x:
    print(sum,'은 완전수입니다.')
    print(sum,'의 약수 :',sum_list)

6 은 완전수입니다.
6 의 약수 : [1, 2, 3]
28 은 완전수입니다.
28 의 약수 : [1, 2, 4, 7, 14]
496 은 완전수입니다.
496 의 약수 : [1, 2, 4, 8, 16, 31, 62, 124, 248]
8128 은 완전수입니다.
8128 의 약수 : [1, 2, 4, 8, 16, 32, 64, 127, 254, 508, 1016, 2032, 4064]