In [ ]:
#6.7

rec=(100,121,120,130,140,120,122,123,190,125)

count=0
for i in range(9):
  if(rec[i]>rec[i+1]):
    count+=1

print('일일 매출 기록:',rec)
print('지난 10일 동안 전일대비 매출이 감소한 날은',count,'일입니다.')

일일 매출 기록: (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
지난 10일 동안 전일대비 매출이 감소한 날은 3 일입니다.

In [19]:
#6.8
tup=(1,2,5,4,3,2,9,1,4,7,8,9,9)
newlist=list(tup) #그냥 그대로 나옴
newset=set(tup) # 중복 원소 지워서 나옴
newlist2=list(newset) # 중복 원소 지운 거 리스트로 바꿔서 나옴
for i in range(8):
  newlist.remove(newlist2[i]) # 한번만 등장하는 리스트 요소들 전부 remove

dup=set(newlist)
print(dup)

{1, 2, 4, 9}

In [ ]:
#6.9

tup=(1,2,5,4,3,2,1,4,7,8,9,9,3,7,3)
dup=set(tup)
new_tup=tuple(set(tup))

print('주어진 튜플:',tup)
print('중복 제거 튜플:',new_tup)

주어진 튜플: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
중복 제거 튜플: (1, 2, 3, 4, 5, 7, 8, 9)

In [ ]:
#6.10

a=(1,2,5,4,3,2,9,4,7,8,9,9,3,7,3)
a_list=list(a)
b=[]
for i in range(15):
  b.append(a.count(a_list[i]))
b_max=max(b)
c=[]
for i in range(15):
  if(b[i]==b_max) and (a_list[i] not in c):
    if(max(a_list)==a_list[i]):
      print('가장 많이 나타나는 요소는:',a_list[i])
      c.append(a_list[i])

가장 많이 나타나는 요소는: 9

In [ ]:
#6.11

list=[(),1,(),(1,),('a',),('a','b'),((),),('a','b'),'']
for i in list:
  if(i==() or i==''):
    list.remove(i)

print(list)

[1, (1,), ('a',), ('a', 'b'), ((),), ('a', 'b')]

In [ ]:
#6.12

list=[5,6,3,9,2,12,3,8,7]
print('주어진 리스트는=',list)
for i in range(9):
  if(list[i]==max(list)):
    list[0],list[i]=list[i],list[0]

print('정렬된 결과는=',list)

주어진 리스트는= [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 결과는= [12, 6, 3, 9, 2, 5, 3, 8, 7]

In [ ]:
#6.13

list=[5,6,3,9,2,12,3,8,7]

print('주어진 리스트는=',list)
for j in range(len(list)):
  k=len(list)-j
  for i in range(1,k):
    if list[i-1]>=list[i]:
      temp=list[i-1]
      list[i-1]=list[i]
      list[i]=temp

print('정렬된 결과는=',list)

주어진 리스트는= [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 결과는= [2, 3, 3, 5, 6, 7, 8, 9, 12]

In [ ]:
#6.14

list=[5,6,31,9,2,12,13,8,7]
print('정렬 전 리스트:',list)
for i in range(len(list)):
  for j in range(len(list)-1,i,-1):
    if list[j-1]>list[j]:
      list[j-1],list[j]=list[j],list[j-1]
  print(i+1,'단계:',list)

정렬 전 리스트: [5, 6, 31, 9, 2, 12, 13, 8, 7]
1 단계: [2, 5, 6, 31, 9, 7, 12, 13, 8]
2 단계: [2, 5, 6, 7, 31, 9, 8, 12, 13]
3 단계: [2, 5, 6, 7, 8, 31, 9, 12, 13]
4 단계: [2, 5, 6, 7, 8, 9, 31, 12, 13]
5 단계: [2, 5, 6, 7, 8, 9, 12, 31, 13]
6 단계: [2, 5, 6, 7, 8, 9, 12, 13, 31]
7 단계: [2, 5, 6, 7, 8, 9, 12, 13, 31]
8 단계: [2, 5, 6, 7, 8, 9, 12, 13, 31]
9 단계: [2, 5, 6, 7, 8, 9, 12, 13, 31]

In [ ]:
#6.15

tup=(4,5,2,3,8,1,9,0)

for i in range(len(tup),0,-1):
  print(tup[:i:])

(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)

In [ ]:
#6.16

student_tuple=(('191101','홍길동','010-123-45xx'),('191102','임꺽정','010-233-45xx'),('191103','장길산','010-323-45xx'))
a=student_tuple[0]
b=student_tuple[1]
c=student_tuple[2]

x=a[:2:]
y=b[:2:]
z=c[:2:]

student_dict=dict((x,y,z))
print('학생 정보:',student_dict)
for i in student_dict:
  num1=input('학번을 입력하세요:')
  if(int(num1)<=0):
    print('프로그램을 종료합니다.')
  elif(num1 not in student_dict):
    print('해당 학번의 학생이 없습니다.')
  else:
    print(num1,'번 학생은',student_dict[num1],'입니다.')

학생 정보: {'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}
학번을 입력하세요:191102
191102 번 학생은 임꺽정 입니다.
학번을 입력하세요:191106
해당 학번의 학생이 없습니다.
학번을 입력하세요:-1
프로그램을 종료합니다.

In [ ]:
#6.17-(1)

population_A=(100,150,230,120,180,100,140,95,81,21,4)
population_B=(300,420,530,420,400,300,40,5,1,1,1)

a=population_A[2::]
b=population_B[2::]

print('마을 A와 B에 보낼 투표용지의 개수는 각각',sum(a),'장과',sum(b),'장입니다.')

마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1698 장입니다.

In [ ]:
#6.17-(2)

x=sum(population_A)
y=sum(population_B)

elderA=population_A[7::]
elderB=population_B[7::]

A=sum(elderA)
B=sum(elderB)

print('마을 A와 B의 고령화 정도는 각각',round(A/x,3),'와',round(B/y,3),'입니다.')

마을 A와 B의 고령화 정도는 각각 0.165 와 0.003 입니다.

In [ ]:
#6.20-(1)

scores=(('박동규',88,95,90),('강영민',85,90,95),('박동민',70,90,80),('홍승주',90,90,95))
a=scores[0]
b=scores[1]
c=scores[2]
d=scores[3]

val=zip(a,b,c,d)
x=list(val)
math=x[2]
print('학생들의 수학 성적의 평균은',sum(math)/4,'입니다.')

학생들의 수학 성적의 평균은 91.25 입니다.

In [ ]:
#6.20-(2)

science=x[3]
print('학생들의 수학과 과학 성적의 평균은',(sum(science)+sum(math))/8,'입니다.')

학생들의 수학과 과학 성적의 평균은 90.625 입니다.

In [ ]:
#6.20-(3)

a_scores=a[1::]
b_scores=b[1::]
c_scores=c[1::]
d_scores=d[1::]

a_average=round(sum(a_scores)/3,2)
b_average=round(sum(b_scores)/3,2)
c_average=round(sum(c_scores)/3,2)
d_average=round(sum(d_scores)/3,2)

student_dic={scores[0][0]:a_average,scores[1][0]:b_average,scores[2][0]:c_average,scores[3][0]:d_average}

print('이름 \t 평균성적')
print('------------------')
print(scores[0][0],'\t',student_dic.get(scores[0][0]))
print(scores[1][0],'\t',student_dic.get(scores[1][0]))
print(scores[2][0],'\t',student_dic.get(scores[2][0]))
print(scores[3][0],'\t',student_dic.get(scores[3][0]))

이름 	 평균성적
------------------
박동규 	 91.0
강영민 	 90.0
박동민 	 80.0
홍승주 	 91.67

In [ ]:
#6.21

sentence=input('문자열을 입력하시오 : ')
word2=sentence.replace(' ','')
word=word2.lower()

is_palindrome=True
for i in range(len(word)//2):
  if word[i]!=word[-1-i]:
    is_palindrome=False

if(is_palindrome==True):
  print('회문입니다.')
else:
  print('회문이 아닙니다.')

문자열을 입력하시오 : A nut for a jar of tuna
회문입니다.

In [ ]:
#6.22

name=input('이름을 입력하세요:')
slice_name=name[-3::]

if(slice_name=='vic'):
  print('안녕하세요? {}님. 발칸 반도에서 오셨나요?'.format(name))
else:
  print('안녕하세요? {}님.'.format(name))

이름을 입력하세요:Tom Cruise
안녕하세요? Tom Cruise님

In [ ]:
name=input('이름을 입력하세요:')
slice_name=name[-3::]

if(slice_name=='vic'):
  print('안녕하세요? {}님. 발칸 반도에서 오셨나요?'.format(name))
else:
  print('안녕하세요? {}님.'.format(name))

이름을 입력하세요:Sinisa Mihajlovic
안녕하세요? Sinisa Mihajlovic님. 발칸 반도에서 오셨나요?

In [ ]:
#6.23

import string
word=string.ascii_uppercase
print(word)
for _ in range(9):
  word=word[1::]+word[0]
  print(word)

ABCDEFGHIJKLMNOPQRSTUVWXYZ
BCDEFGHIJKLMNOPQRSTUVWXYZA
CDEFGHIJKLMNOPQRSTUVWXYZAB
DEFGHIJKLMNOPQRSTUVWXYZABC
EFGHIJKLMNOPQRSTUVWXYZABCD
FGHIJKLMNOPQRSTUVWXYZABCDE
GHIJKLMNOPQRSTUVWXYZABCDEF
HIJKLMNOPQRSTUVWXYZABCDEFG
IJKLMNOPQRSTUVWXYZABCDEFGH
JKLMNOPQRSTUVWXYZABCDEFGHI

In [ ]:
#6.24-(1)

import string
src_str=string.ascii_uppercase
dst_str=src_str[3::]+src_str[0:3]

print('src_str =',src_str)
print('dst_str =',dst_str)

src_str = ABCDEFGHIJKLMNOPQRSTUVWXYZ
dst_str = DEFGHIJKLMNOPQRSTUVWXYZABC

In [ ]:
#6.24-(2)
  
def ciper(x):
  x=list(x)
  for i in range(len(x)):
    if x[i].isupper():
      x[i]=chr((ord(x[i])-ord('A')+3)%26+ord('A'))
    elif x[i].islower():
      x[i]=chr((ord(x[i])-ord('a')+3)%26+ord('a'))

  return "".join(x)

print('src_str의 A 인덱스 :',src_str.index('A'))
print('dst_str의 0번째 알파벳 :',dst_str[src_str.index('A')])
print('src_str의 B 인덱스 :',src_str.index('B'))
print('dst_str의 1번째 알파벳 :',dst_str[src_str.index('B')])

src_str의 A 인덱스 : 0
dst_str의 0번째 알파벳 : D
src_str의 B 인덱스 : 1
dst_str의 1번째 알파벳 : E

In [ ]:
#6.24-(3)

sentence=input('문장을 입력하시오:')
print('암호화된 문장:',ciper(sentence))

문장을 입력하시오:ATTACK TONIGHT
암호화된 문장: DWWDFN WRQLJKW

In [ ]:
#6.24-(4)

def ciper2(x):
  x=list(x)
  for i in range(len(x)):
    if x[i].isupper():
      x[i]=chr((ord(x[i])-ord('A')-3)%26+ord('A'))
    elif x[i].islower():
      x[i]=chr((ord(x[i])-ord('a')-3)%26+ord('a'))

  return "".join(x)

sentence2=input('암호화된 문장을 입력하시오:')
print('해독된 문장:',ciper2(sentence2))

암호화된 문장을 입력하시오:DWWDFN WRQLJKW
해독된 문장: ATTACK TONIGHT

In [ ]:
#6.24-(5)

import string
src_str=string.ascii_uppercase+string.ascii_lowercase
print(src_str)
print(ciper(src_str))

ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
DEFGHIJKLMNOPQRSTUVWXYZABCdefghijklmnopqrstuvwxyzabc

In [ ]:
#6.26

myList=[(1,2),(4,5),(4,2),(3,1),(9,4)]

x,y=input('두 정수를 입력하시오: ').split()
x,y=int(x),int(y)
for i in range(len(myList)):
  if((x,y) in myList):
    print(myList.index((x,y)),'번째에',(x,y),'요소가 있습니다.')
    break
  elif((y,x) in myList):
    print((x,y),'요소는 없으나',myList.index((y,x)),'번째에',(y,x),'요소가 있습니다.')
    break
  else:
    print('이 요소는 없습니다.')
    break

두 정수를 입력하시오: 4 9
(4, 9) 요소는 없으나 4 번째에 (9, 4) 요소가 있습니다.