In [ ]:
#7.1-(1)

import datetime as dt

today=dt.datetime.today()
valentine=dt.datetime(2019,2,24)
gap=today-valentine
print('춘향이와 몽룡이의 연애 시작일:{}년 {}월 {}일'.format(valentine.year,valentine.month,valentine.day))
print('연애 시작일로부터 경과한 날짜:{}일'.format(gap.days))

춘향이와 몽룡이의 연애 시작일:2019년 2월 24일
연애 시작일로부터 경과한 날짜:639일

In [ ]:
#7.1-(2)

print('춘향이와 몽룡이의 연애 시작일:{}년 {}월 {}일'.format(valentine.year,valentine.month,valentine.day))
hundred=dt.timedelta(days=100)
hundred2=dt.timedelta(days=200)
hundred5=dt.timedelta(days=500)
thousand=dt.timedelta(days=1000)
day100=valentine+hundred
day200=valentine+hundred2
day500=valentine+hundred5
day1000=valentine+thousand
print('100일 기념일:{}년 {}월 {}일'.format(day100.year,day100.month,day100.day))
print('200일 기념일:{}년 {}월 {}일'.format(day200.year,day200.month,day200.day))
print('500일 기념일:{}년 {}월 {}일'.format(day500.year,day500.month,day500.day))
print('1000일 기념일:{}년 {}월 {}일'.format(day1000.year,day1000.month,day1000.day))

춘향이와 몽룡이의 연애 시작일:2019년 2월 24일
100일 기념일:2019년 6월 4일
200일 기념일:2019년 9월 12일
500일 기념일:2020년 7월 8일
1000일 기념일:2021년 11월 20일

In [ ]:
#7.2-(1)
import time
start_time=time.time()
def sum1to1000000():
  sumrange=sum(range(1,1000001))
  return sumrange
end_time=time.time()
gap=end_time-start_time

print('1에서 1,000,000까지의 합을 구하는 시간:{:7.4f}초'.format(gap))

1에서 1,000,000까지의 합을 구하는 시간: 0.0001초

In [ ]:
#7.2-(2)

start_100=time.time()
for _ in range(100):
  sum1to1000000()
end_100=time.time()
gap100=end_100-start_100

print('1,000,000까지의 합을 100번 반복해서 구하는 시간:{:7.4f}초'.format(gap100))

1,000,000까지의 합을 100번 반복해서 구하는 시간: 1.6700초

In [ ]:
#7.3-(1)

def printhello():
  print('Hello python!')
start_time=time.time()
for _ in range(100):
  printhello()
end_time=time.time()
gap=end_time-start_time

print('Hello Python! 출력을 100번 반복하는 시간:{:7.4f}초'.format(gap))

Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello Python! 출력을 100번 반복하는 시간: 0.0123초

In [ ]:
#7.3-(2)

def printfactorial():
  result=1
  for i in range(1,1001):
    result*=i
  return result
start_time=time.time()
for _ in range(100):
  printfactorial()
end_time=time.time()
gap=end_time-start_time

print('1000을 100번 반복해서 구하는 시간:{:7.4f}초'.format(gap))

1000을 100번 반복해서 구하는 시간: 0.0283초

In [ ]:
#7.3-(3)

def multiple():
  result=0
  for i in range(1,1001):
    if(i%2==1):
      result+=(i**3)
  return result
start_time=time.time()
for _ in range(100):
  multiple()
end_time=time.time()
gap=end_time-start_time

print('1에서 1000까지의 홀수의 세제곱 더하기를 100번 반복하는 시간:{:7.4f}초'.format(gap))

1에서 1000까지의 홀수의 세제곱 더하기를 100번 반복하는 시간: 0.0228초

In [ ]:
#7.3-(4)
import math as m

def sine():
  result=0
  for i in range(1,361):
    result+=m.sin(i*m.pi/180)
  return result
start_time=time.time()
for _ in range(100):
  sine()
end_time=time.time()
gap=end_time-start_time

print('1에서 360도까지 sin 값의 합을 100번 반복하는 시간:{:7.4f}초'.format(gap))

1에서 360도까지 sin 값의 합을 100번 반복하는 시간: 0.0154초

In [ ]:
#7.4-(1)

def my_rand(x):
  new_x=(100329*x+12345)%(2**13)
  return new_x

x=123457
for _ in range(10):
  x=my_rand(x)
  print(x)

1122
7019
4508
6965
1654
2975
7408
5801
3850
1619

In [ ]:
#7.4-(2)

def my_rand(x):
  new_x=(100329*x+12345)%(2**13)
  return new_x

x=int(time.time())
for _ in range(5):
  x=my_rand(x)
  print(x)

530
4251
2636
869
2598

In [ ]:
x=int(time.time())
for _ in range(5):
  x=my_rand(x)
  print(x)

6237
2014
2887
1240
209

In [ ]:
#7.5

for i in range(19):
  print('sin({})={}, cos({})={}, tan({})={}'.format(10*i,round(m.sin(m.pi*10*i/180),3),10*i,round(m.cos(m.pi*10*i/180),3),10*i,round(m.tan(m.pi*10*i/180),3)))

sin(0)=0.0, cos(0)=1.0, tan(0)=0.0
sin(10)=0.174, cos(10)=0.985, tan(10)=0.176
sin(20)=0.342, cos(20)=0.94, tan(20)=0.364
sin(30)=0.5, cos(30)=0.866, tan(30)=0.577
sin(40)=0.643, cos(40)=0.766, tan(40)=0.839
sin(50)=0.766, cos(50)=0.643, tan(50)=1.192
sin(60)=0.866, cos(60)=0.5, tan(60)=1.732
sin(70)=0.94, cos(70)=0.342, tan(70)=2.747
sin(80)=0.985, cos(80)=0.174, tan(80)=5.671
sin(90)=1.0, cos(90)=0.0, tan(90)=1.633123935319537e+16
sin(100)=0.985, cos(100)=-0.174, tan(100)=-5.671
sin(110)=0.94, cos(110)=-0.342, tan(110)=-2.747
sin(120)=0.866, cos(120)=-0.5, tan(120)=-1.732
sin(130)=0.766, cos(130)=-0.643, tan(130)=-1.192
sin(140)=0.643, cos(140)=-0.766, tan(140)=-0.839
sin(150)=0.5, cos(150)=-0.866, tan(150)=-0.577
sin(160)=0.342, cos(160)=-0.94, tan(160)=-0.364
sin(170)=0.174, cos(170)=-0.985, tan(170)=-0.176
sin(180)=0.0, cos(180)=-1.0, tan(180)=-0.0

In [ ]:
#7.6

for i in range(11):
  print('sqrt({})={}'.format(i,round(m.sqrt(i),3)))

sqrt(0)=0.0
sqrt(1)=1.0
sqrt(2)=1.414
sqrt(3)=1.732
sqrt(4)=2.0
sqrt(5)=2.236
sqrt(6)=2.449
sqrt(7)=2.646
sqrt(8)=2.828
sqrt(9)=3.0
sqrt(10)=3.162

In [1]:
#7.8

import random as rd

a=rd.randrange(1,7)
b=rd.randrange(1,7)

print('로미오의 주사위 숫자는 {}입니다.'.format(a))
print('줄리엣의 주사위 숫자는 {}입니다.'.format(b))

if(a>b):
  print('로미오가 이겼습니다.')
elif(a<b):
  print('줄리엣이 이겼습니다.')
else:
  print('비겼습니다.')

로미오의 주사위 숫자는 6입니다.
줄리엣의 주사위 숫자는 1입니다.
로미오가 이겼습니다.

In [4]:
#7.9

x=rd.randrange(1,4) #1: 가위 #2: 바위 #3: 보
y=rd.randrange(1,4) #1: 가위 #2: 바위 #3: 보

if(x==1):
  print('로미오의 승부: 가위')
elif(x==2):
  print('로미오의 승부: 바위')
else:
  print('로미오의 승부: 보')

if(y==1):
  print('줄리엣의 승부: 가위')
elif(y==2):
  print('줄리엣의 승부: 바위')
else:
  print('줄리엣의 승부: 보')

if(x==y):
  print('비겼습니다.')
elif(x==1 and y==2):
  print('줄리엣이 이겼습니다.')
elif(x==1 and y==3):
  print('로미오가 이겼습니다.')
elif(x==2 and y==1):
  print('로미오가 이겼습니다.')
elif(x==2 and y==3):
  print('줄리엣이 이겼습니다.')
elif(x==3 and y==1):
  print('줄리엣이 이겼습니다.')
else:
  print('로미오가 이겼습니다.')

로미오의 승부: 가위
줄리엣의 승부: 바위
줄리엣이 이겼습니다.

In [8]:
#7.10

x=rd.randint(1,20)
count=0

for i in range(20):
  y=int(input('1~20까지의 숫자를 입력하세요: '))
  if(x==y):
    count+=1
    print('정답입니다!')
    break
  elif(x>y):
    count+=1
    print('{}보다 큽니다!'.format(y))
  else:
    count+=1
    print('{}보다 작습니다!'.format(y))

if(count<=3):
  print('{}번 만에 맞춘 당신은 천재!'.format(count))
elif(count>=3 and count<=6):
  print('{}번 만에 맞추셨네요, 잘 했어요^^'.format(count))
else:
  print('{}번 만에 맞추다니 쩝쩝...'.format(count))

1~20까지의 숫자를 입력하세요: 5
5보다 큽니다!
1~20까지의 숫자를 입력하세요: 10
10보다 큽니다!
1~20까지의 숫자를 입력하세요: 15
15보다 작습니다!
1~20까지의 숫자를 입력하세요: 13
13보다 큽니다!
1~20까지의 숫자를 입력하세요: 14
정답입니다!
5번 만에 맞추셨네요, 잘 했어요^^