Chapter 8

In [ ]:
#8.1-(1)

try:
  a,b=input('두 수를 입력하시오 :').split()
  result=int(a)*int(b)
except ValueError:
  print('10 3과 같이 두 개의 정수를 입력하시오.')
else:
  print(result)

두 수를 입력하시오 :십 삼
10 3과 같이 두 개의 정수를 입력하시오.

In [ ]:
try:
  a,b=input('두 수를 입력하시오 :').split()
  result=int(a)*int(b)
except ValueError:
  print('10 3과 같이 두 개의 정수를 입력하시오.')
else:
  print(result)

두 수를 입력하시오 :10 5
50

In [ ]:
#8.1-(2)

try:
  a,b=input('두 수를 입력하시오 :').split()
  result=int(a)/int(b)
except ValueError:
  print('10 2와 같이 두 개의 정수를 입력하시오.')
except ZeroDivisionError:
  print('0으로 나누기를 시도하였습니다.')
else:
  print(result)

두 수를 입력하시오 :30 0
0으로 나누기를 시도하였습니다.

In [ ]:
try:
  a,b=input('두 수를 입력하시오 :').split()
  result=int(a)/int(b)
except ValueError:
  print('10 2와 같이 두 개의 정수를 입력하시오.')
except ZeroDivisionError:
  print('0으로 나누기를 시도하였습니다.')
else:
  print(result)

두 수를 입력하시오 :십 이
10 2와 같이 두 개의 정수를 입력하시오.

In [ ]:
#8.1-(3)

a_list=[200,300,400]
print('a_list=',a_list)
try:
  idx=int(input('구하고자 하는 값의 인덱스를 0,1,2 중에서 입력하시오 :'))
  result=a_list[idx]
except ValueError:
  print('정수값을 입력하세요.')
except IndexError:
  print('리스트의 인덱스 범위 밖입니다.')
else:
  print('결과 :',result)

a_list= [200, 300, 400]
구하고자 하는 값의 인덱스를 0,1,2 중에서 입력하시오 :공
정수값을 입력하세요.

In [ ]:
a_list=[200,300,400]
print('a_list=',a_list)
try:
  idx=int(input('구하고자 하는 값의 인덱스를 0,1,2 중에서 입력하시오 :'))
  result=a_list[idx]
except ValueError:
  print('정수값을 입력하세요.')
except IndexError:
  print('리스트의 인덱스 범위 밖입니다.')
else:
  print('결과 :',result)

a_list= [200, 300, 400]
구하고자 하는 값의 인덱스를 0,1,2 중에서 입력하시오 :3
리스트의 인덱스 범위 밖입니다.

In [ ]:
a_list=[200,300,400]
print('a_list=',a_list)
try:
  idx=int(input('구하고자 하는 값의 인덱스를 0,1,2 중에서 입력하시오 :'))
  result=a_list[idx]
except ValueError:
  print('정수값을 입력하세요.')
except IndexError:
  print('리스트의 인덱스 범위 밖입니다.')
else:
  print('결과 :',result)

a_list= [200, 300, 400]
구하고자 하는 값의 인덱스를 0,1,2 중에서 입력하시오 :1
결과 : 300

In [ ]:
#8.1-(4)
try:
  f_name=input('읽어들일 파일 이름을 입력하세요 :')
  in_file=open(f_name,'r')
  buf=in_file.readline()
  print(buf) 
except FileNotFoundError:
  print('존재하지 않는 파일이거나 디렉토리입니다.')

읽어들일 파일 이름을 입력하세요 :Yourname.txt
존재하지 않는 파일이거나 디렉토리입니다.

In [ ]:
#8.2
try:
  f = open("C:/19-2/my_hello.txt", 'r')
  f.close()
except FileNotFoundError:
  print('존재하지 않는 파일이거나 디렉토리입니다.')

존재하지 않는 파일이거나 디렉토리입니다.

Chapter 9

In [ ]:
#9.1

class Cal:
  def __init__(self,x):
    self.x=x
  def __add__(self,other):
    return Cal(self.x+other.x)
  def __sub__(self,other):
    return Cal(self.x-other.x)
  def __mul__(self,other):
    return Cal(self.x*other.x)
  def __truediv__(self,other):
    return Cal(self.x/other.x)
  def __str__(self):
    return "{}".format(self.x)

a1=Cal(123)
a2=Cal(334)
a3=Cal(3)
cal1=a1+a2
cal2=a1-a2
cal3=a1*a2
cal4=a1/a3
print('123+334=',cal1)
print('123-334=',cal2)
print('123*334=',cal3)
print('123/3=',cal4)

123+334= 457
123-334= -211
123*334= 41082
123/3= 41.0

In [ ]:
#9.5

a,b,c,d,e=1,1,2,3,3

print('a와 b는 같은 객체인가?',a is b)
print('b와 c는 같은 객체인가?',b is c)
print('c와 d는 같은 객체인가?',c is d)
print('d와 e는 같은 객체인가?',d is e)

a와 b는 같은 객체인가? True
b와 c는 같은 객체인가? False
c와 d는 같은 객체인가? False
d와 e는 같은 객체인가? True

In [ ]:
#9.6

class Dog:
  def __init__(self,name,age):
    self._name=name
    self._age=age
  def __str__(self):
    return 'my_dog의 이름은 {}이고, 나이는 {}살입니다.'.format(self._name,self._age)
  def set_age(self,age):
    if age>0:
      self._age=age
  def get_age(self):
    return self.get_age

my_dog=Dog('Mango',3)
print(my_dog)

my_dog의 이름은 Mango이고, 나이는 3살입니다.

In [ ]:
#9.7

class Dog:
  def __init__(self,name,age):
    self._name=name
    self._age=age
  def __str__(self):
    return '이름은 {}이고, 나이는 {}살입니다.'.format(self._name,self._age)
  def set_age(self,age):
    if age>0:
      self._age=age
  def get_age(self):
    return self.get_age

my_dog=Dog('Mango',3)
print(my_dog)

이름은 Mango이고, 나이는 3살입니다.

In [ ]:
#9.8

class Counter:
  def __init__(self,number=0):
    self._number=number
  def reset(self):
    self._number=0
    return self._number
  def inc(self):
    self._number+=1
    if(self._number>=100):
      self._number=0
      return self._number
    else:
      return self._number
  def dec(self):
    self._number-=1
    if(self._number<=-1):
      self._number=0
      return self._number
    else:
      return self._number
  def __str__(self):
    return 'C({})'.format(self._number)

In [ ]:
c1=Counter(10)
c1.inc()
print('c1=',c1)

c1= C(11)

In [ ]:
c2=Counter()
c2.inc()
c2.inc()
c2.dec()
print('c2=',c2)
c2.reset()
print('c2=',c2)

c2= C(1)
c2= C(0)

In [ ]:
#9.9

class Counter:
  def __init__(self,number=0):
    self._number=number
  def reset(self):
    self._number=0
    return self._number
  def inc(self):
    self._number+=1
    if(self._number>=100):
      self._number=0
      return self._number
    else:
      return self._number
  def dec(self):
    self._number-=1
    if(self._number<=-1):
      self._number=0
      return self._number
    else:
      return self._number
  def __str__(self):
    return 'C({})'.format(self._number)
  def __add__(self,other):
    return Counter(self._number+other._number)
  def __sub__(self,other):
    return Counter(self._number-other._number)

In [ ]:
c1=Counter(10)
c2=Counter(20)
c3=c1+c2
c4=c1-c2
print('c3=',c3)
print('c4=',c4)

c3= C(30)
c4= C(-10)

In [ ]:
#9.10

class BankAccount:
  def __init__(self,name,account_num,balance=0):
    self._name=name
    self._account_num=account_num
    self._balance=balance
  def __str__(self):
    return '{}님의 계좌 {}의 잔고는 {}원입니다.'.format(self._name,self._account_num,self._balance)
  def get_name(self):
    return self._name
  def get_account_sum(self):
    return self._account_num
  def get_balance(self):
    return self._balance
  def deposit(self,money):
    self._balance=int(money)+self._balance
    print('{}원이 입금되었습니다. 잔고는 {}원입니다.'.format(int(money),self._balance))
  def withdraw(self,money):
    if(int(money)>self._balance):
      print('계좌 잔고는 {}원으로 인출 요구 금액 {}원보다 작습니다.'.format(self._balance,money))
    else:
      self._balance=(self._balance)-int(money)
      return self._balance

In [ ]:
account1=BankAccount('홍길동','1234-0001')
print(account1)
account1.deposit(2000)
print(account1)
account1.withdraw(500)
print(account1)
account1.withdraw(5000)

홍길동님의 계좌 1234-0001의 잔고는 0원입니다.
2000원이 입금되었습니다. 잔고는 2000원입니다.
홍길동님의 계좌 1234-0001의 잔고는 2000원입니다.
홍길동님의 계좌 1234-0001의 잔고는 1500원입니다.
계좌 잔고는 1500원으로 인출 요구 금액 5000원보다 작습니다.

In [ ]:
#9.11

class Student:
  def __init__(self,name,student_id,total_score=(korean_quiz+math_quiz+science_quiz),korean_quiz=0,math_quiz=0,science_quiz=0):
    self._name=name
    self._student_id=student_id
    self._korean_quiz=korean_quiz
    self._math_quiz=math_quiz
    self._science_quiz=science_quiz
    self._total_score=total_score
  def __str__(self):
    return '이름: {}, 학번: {}\n국어성적: {}, 수학성적: {}, 과학성적: {}\n합계: {}, 평균: {}'.format(self._name,self._student_id,self._korean_quiz,self._math_quiz,self._science_quiz,self._total_score,(self._total_score)/3)
  def get_name(self):
    return self._name
  def get_student_id(self):
    return self._student_id
  def get_korean_quiz(self):
    return self._korean_quiz
  def get_math_quiz(self):
    return self._math_quiz
  def get_science_quiz(self):
    return self._science_quiz
  def set_korean_quiz(self,korean_quiz):
    self._korean_quiz=korean_quiz
  def set_math_quiz(self,math_quiz):
    self._math_quiz=math_quiz
  def set_science_quiz(self,science_quiz):
    self._science_quiz=science_quiz
  def get_total_score(self):
    self._total_score=self._korean_quiz+self._math_quiz+self._science_quiz
    return self._total_score
  def get_avg_score(self):
    return (self._total_score)/3

In [ ]:
name=input('학생의 이름을 입력하세요:')
student_id=input('학생의 학번을 입력하세요:')

student=Student(name,student_id)

korean_quiz=int(input('학생의 국어 성적을 입력하세요:'))
math_quiz=int(input('학생의 수학 성적을 입력하세요:'))
science_quiz=int(input('학생의 과학 성적을 입력하세요:'))
student.set_korean_quiz(korean_quiz)
student.set_math_quiz(math_quiz)
student.set_science_quiz(science_quiz)
print(student)

학생의 이름을 입력하세요:홍길동
학생의 학번을 입력하세요:20200012
학생의 국어 성적을 입력하세요:85
학생의 수학 성적을 입력하세요:90
학생의 과학 성적을 입력하세요:95
이름: 홍길동, 학번: 20200012
국어성적: 85, 수학성적: 90, 과학성적: 95
합계: 270, 평균: 90.0

In [ ]:
#9.12

class TV:
  MIN_VOLUME=0
  MAX_VOLUME=20
  MIN_CHANNEL=0
  MAX_CHANNEL=200
  def __init__(self,volume=5,channel=0,is_on=False):
    self._volume=volume
    self._channel=channel
    self._is_on=is_on
  def __str__(self):
    if(self._is_on==False):
      return 'TV가 꺼짐 상태입니다.'
    else:
      return '볼륨={}, 채널={}'.format(self._volume,self._channel)
  def toggle_power(self):
    if(self._is_on==True):
      self._is_on==False
      return self._is_on
    else:
      self._is_on=True
      return self._is_on
  def get_channel(self):
    return self._channel
  def set_channel(self,channel_num):
    if(int(channel_num) not in range(0,201)):
      print('채널 오류')
    else:
      self._channel=channel_num
      return self._channel
  def get_volume(self):
    return self._volume
  def set_volume(self,volume_num):
    if(int(volume_num) not in range(0,21)):
      print('볼륨 오류')
    else:
      self._volume=volume_num
      return self._volume
  def volume_up(self):
    self._volume+=1
    if(self._volume>20):
      return MIN_VOLUME
  def volume_down(self):
    self._volume-=1
    if(self._volume<0):
      return MAX_VOLUME
  def channel_up(self):
    self._channel+=1
    if(self._channel>200):
      return MIN_CHANNEL
  def channel_down(self):
    self._channel-=1
    if(self._channel<0):
      return MAX_CHANNEL

In [ ]:
my_tv=TV()
print(my_tv)
my_tv.toggle_power()
print(my_tv)
my_tv.set_channel(45)
print(my_tv)
my_tv.volume_up()
my_tv.channel_up()
print(my_tv)

TV가 꺼짐 상태입니다.
볼륨=5, 채널=0
볼륨=5, 채널=45
볼륨=6, 채널=46

In [ ]:
#9.13

class Rectangle:
  def __init__(self,x,y,width,height):
    self._x=x
    self._y=y
    self._width=width
    self._height=height
  def __str__(self):
    return 'Rectangle : (x={}, y={}, w={}, h={}), 면적={}'.format(self._x,self._y,self._width,self._height,(self._width)*(self._height))
  def set_x(self):
    self._x=x
  def get_x(self):
    return self._x
  def set_y(self):
    self._y=y
  def get_y(self):
    return self._y
  def set_width(self):
    self._width=width
  def get_width(self):
    return self._width
  def set_height(self):
    self._height=height
  def get_height(self):
    return self._height
  def area(self):
    return (self._width)*(self._height)
  def overlaps(self,r):
    a=abs(r._x-self._x)<=r._width
    b=abs(r._y-self._y)<=r._height
    if a and b:
      return True
    else:
      return False
  def contains(self,r):
    a=(self._x)<=(r._x)
    b=(self._y)>=(r._y)
    c=(self._width)>=(r._width)
    d=(self._height)>=(r._height)
    if a and b and c and d:
      return True
    else:
      return False

In [ ]:
r1=Rectangle(0,0,100,100)
r2=Rectangle(0,-10,10,10)
r3=Rectangle(-100,0,120,100)

print('r1=',r1)
print('r2=',r2)
print('r3=',r3)

print('r1 contains r2 :',r1.contains(r2))
print('r1 contains r3 :',r1.contains(r3))
print('r1 overlaps r2 :',r1.overlaps(r2))
print('r1 overlaps r3 :',r1.overlaps(r3))

r1= Rectangle : (x=0, y=0, w=100, h=100), 면적=10000
r2= Rectangle : (x=0, y=-10, w=10, h=10), 면적=100
r3= Rectangle : (x=-100, y=0, w=120, h=100), 면적=12000
r1 contains r2 : True
r1 contains r3 : False
r1 overlaps r2 : True
r1 overlaps r3 : True

In [ ]:
#9.14

class Circle:
  PI=3.14
  def __init__(self,x,y,radius):
    self._x=x
    self._y=y
    self._radius=radius
  def __str__(self):
    return 'Circle : (x={}, y={}, r={}), 면적={}'.format(self._x,self._y,self._radius,(self._radius)*(self._radius)*3.14)
  def set_x(self):
    self._x=x
  def get_x(self):
    return self._x
  def set_y(self):
    self._y=y
  def get_y(self):
    return self._y
  def set_radius(self):
    self._radius=radius
  def get_radius(self):
    return self._radius
  def area(self):
    return (self._radius)*(self._radius)*PI
  def overlaps(self,c):
    a=abs(c._x-self._x)<=c._radius
    b=abs(c._y-self._y)<=c._radius
    if a and b:
      return True
    else:
      return False
  def contains(self,c):
    a=abs(c._x-self._x)<=c._radius
    b=abs(c._y-self._y)<=c._radius
    c=(self._radius)>=(c._radius)
    if a and b and c:
      return True
    else:
      return False

In [ ]:
c1=Circle(0,0,100)
c2=Circle(0,-10,10)
c3=Circle(-100,0,120)

print('c1=',c1)
print('c2=',c2)
print('c3=',c3)

print('c1 contains c2 :',c1.contains(c2))
print('c1 contains c3 :',c1.contains(c3))
print('c1 overlaps c2 :',c1.overlaps(c2))
print('c1 overlaps c3 :',c1.overlaps(c3))

c1= Circle : (x=0, y=0, r=100), 면적=31400.0
c2= Circle : (x=0, y=-10, r=10), 면적=314.0
c3= Circle : (x=-100, y=0, r=120), 면적=45216.0
c1 contains c2 : True
c1 contains c3 : False
c1 overlaps c2 : True
c1 overlaps c3 : True